/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --color-primary: #63BFAD;
    --color-secondary: #FFCC00;
    --color-secondary-dark: #061020;
    --color-tertiary: #717171;
    --color-primary-light: #F2F2F2;
    --border-button-secondary: 2px solid gainsboro;
    --box-shadow: 0px 8px 24px rgba(1, 12, 21, 0.04);
    --card-box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
}

body {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
    color: #061020;
    background: #FAFCFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.body-pd {
    padding-left: 236px !important;
}

.container {
    font-family: 'Proxima Nova', sans-serif;
    margin: auto;
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    font-weight: 500;
    max-width: 1440px;
    color: var(--color-secondary-dark);
}

.container.private {
    padding-top: 178px;
    max-width: 100%;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;

}
.container.sidebar_show {
    padding-left: 72px;
    padding-right: 72px;
}

.btn {
    padding: 16px 32px;
    background: var(--color-secondary);
    border-radius: 4px;
    border: 2px solid transparent;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-secondary-dark);

}
.btn:focus {
    border-color: var(--color-primary-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 85, 0.25);

}

.btn-primary:hover {
    border-color: var(--color-primary);
}


.chrome-controls {
    display: none !important;
}

.chrome-wrap {
    display: none !important;
}

.chrome-picker {
    width: 100% !important;
    box-shadow: none !important;

}
.chrome-picker .saturation {
    border-radius: 4px !important;
    height: 128px !important;

}
.chrome-picker .saturation .saturation-pointer {
    display: none !important;
}


.form-group .quantity-nav {
    position: absolute !important;
    right: 21px;
    top: 33px;
    cursor: pointer;
}

.quantity-nav .quantity-button.quantity-up {
    padding-top: 4px;
    height: 15px;
}